<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="poll-interval" content="{{ poll_s }}">
    <meta name="app-version" content="{{ version }}">
    <meta name="username" content="{{ username }}">
    <title>FanBridge</title>
    <script type="module" crossorigin src="/static/dist/assets/index-BgHd5WIp.js"></script>
    <link rel="stylesheet" crossorigin href="/static/dist/assets/index-B4nafdQp.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
